.hh {
    background: url('src/assets/signup-bg 1.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.card_footer{
   background: linear-gradient(93.01deg, #BE30D2 6.8%, #7188F7 99.21%);;
}